<div class="container">
  
  <div clsss="power">
    <p class="title">Power component</p>
    <form (submit)="onSubmit()">
        <label>Initial Power Level:</label>
        <select name="power" [(ngModel)]="power">
          <option *ngFor="let num of nums">{{num}}</option>
        </select>
        <input type="submit" value="Calculate Powers" class="btn">
    </form>
    <img src="assets/goku.png" alt="alt" height="100" width="100" style="margin-left:650px;">
  </div>

  <div class="six">
    <app-human       class="levels" [myPower]='power'       ></app-human>
    <app-saiyan      class="levels" [saiyanPower]='saiyan'  ></app-saiyan>
    <app-super-sayan class="levels" [superPower]='super'    ></app-super-sayan>
    <app-supersayan2 class="levels" [saiyan2Power]='saiyan2'></app-supersayan2>
    <app-supersayan3 class="levels" [saiyan3Power]='saiyan3'></app-supersayan3>
    <app-supersayan4 class="levels" [saiyan4Power]='saiyan4'></app-supersayan4>
  </div>  

</div>
  